{{input value=listItem placeholder='Item' action='addItem' }}

<p>
  <button {{action 'toggleList'}}>Toggle Alphabetical / Timestamps</button>
  <button {{action 'toggleSort'}}>Toggle Ascending / Descending</button>
</p>

<p>
  {{#if listType}}
    {{listType}}
  {{else}}
    Alphabetical
  {{/if}}
  -
  {{#if sortType}}
    {{sortType}}
  {{else}}
    Ascending
  {{/if}}
</p>


<ul>

</ul>


<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Timestamp</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each item in controller.arrangedContent}}
      <tr>
        <td>{{item.name}}</td>
        <td>{{format-date item.timestamp}}</td>
        <td><button {{action 'deleteItem' item}}>X</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>